{% extends 'base.html' %} <!-- Call the HTML Head -->
{% load static %} <!-- load the static resources (images) directory -->
{% block content %} <!-- Application's Confirmation Page -->

    <style>
        
        #check{
            animation: tilt-shaking 1s linear infinite;
        }

        @keyframes tilt-shaking {
          0% { transform: rotate(0deg); }
          25% { transform: rotate(5deg); }
          50% { transform: rotate(0deg); }
          75% { transform: rotate(-5deg); }
          100% { transform: rotate(0deg); }
        }
    
    </style>
    
    <main class="dark-bg d-flex vh-100 justify-content-center align-items-center">
    
        <div class="text-center container secondary-bg d-flex flex-column align-items-center justify-content-center p-5 rounded">
            
            <h1 class="fw-bold dark-txt rounded p-4 mb-3">Nous avons bien reçu votre candidature</h1>
            
            <img id="check" src="{% static 'images/check.svg' %}" style="width: 130px" alt="Logo GSB">
            
            <u class="fs-4 dark-txt">Veuillez conserver ce numéro pour vous connecter : </u>
            <div class="d-flex flex-row">
                <h3 class="fs-2 dark-txt">{{ application_number }}</h3>
                <a href="" onclick="copy()"><img src=" {% static "images/copy.svg" %}" style="width: 40px" alt="Copier le numéro de candidat"></a>
            </div>
            
            <p class="fs-5">Notre équipe va bientôt examiner votre candidature. <br>
            Vous serez notifié <strong>par mail et sur votre espace candidat</strong> lorsque le verdict sera rendu !</p>
            
            <div class="d-flex flex-column">
                <a href="/candidate/login?application_number={{ application_number }}" class="btn btn-lg secondary-btn mt-3">Connexion</a>
                <a href="/" class="btn btn-lg mt-1">Accueil</a>
            </div>
            
        </div>
    
    </main>

    <script>
    
        function copy(){ // Javascript function to copy the application number in the clipboard
            navigator.clipboard.writeText('{{ application_number }}'); // Copy application number in the clipboard
            alert("Le numéro a bien été copié dans votre presse papier"); // Alert the user that the copy was sucessful
        }
        
    </script>
    
{% endblock %}