{% extends 'base.html' %} <!-- Call the HTML head -->
{% load static %} <!-- Load the Static resources directory (images) -->
{% block content %} <!-- Main page : Display all the job offers and give the access to the login pages -->

    <style>
        .card{
            scroll-margin-top: 110px ;
        }
    </style>

    <header class="bg-secondary border-bottom border-dark d-flex justify-content-center align-items-center fixed-top py-2">
    
    <div>
        <a href="/">
            <img src="{% static 'images/gsb_logo.png' %}" style="width: 130px" alt="Logo GSB">
        </a>
    </div>
        
    <div class="position-absolute" style="top: 50%; right: 20px; transform: translateY(-50%);">
        <button class="btn btn-primary rounded" data-bs-toggle="modal" data-bs-target="#login_modal">
            Connexion
        </button>
    </div>
    
</header>
    
    <main class="container bg-light d-flex flex-column align-items-center pb-5" style="padding-top: 8%">
    
        <h1 class="fw-bold bg-info text-white rounded p-4 mb-3">Nos offres d'emplois :</h1>
    
        {% if not posts %} <!-- If there are no posts in the database -->
            
            <div class="container mt-5 p-5 bg-info rounded"> <!-- Display an empty tab message -->
                <h3 class="text-center text-white">Aucune offre pour le moment</h3>
            </div>
            
        {% else %} <!-- If there are posts to display -->
            
            {% for post in posts %} <!-- Display all the posts -->
                
                <div class="card bg-light my-3" style="height:75vh;width: 50vw" id="{{ forloop.counter0 }}">
                
                    <div class="card-header text-center bg-secondary fs-3 fw-bold text-white">
                        {{ post.title }}
                    </div>
                    
                    <div class="card-body text-center py-4 mx-3">
                        {{ post.description }}
                    </div>
                    
                    <div class="card-footer text-center">
                        <a class="w-25 btn btn-success rounded" href="/application?postID={{ post.id }}">Postuler</a>
                        <a href="#{{ forloop.counter }}" class="btn btn-info rounded w-25 ms-4 text-white">Suivant</a>
                    </div>
                
                </div>
                
            {% endfor %}
            
        {% endif %}
    
        <!-- Modal to chose between employees and candidates login page -->
        <div class="modal" id="login_modal" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
                
              <div class="modal-header">
                <h5 class="modal-title">Vous Etes ... ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
                
              <div class="modal-body">
                <div class="d-flex flex-row align-items-center">
                    
                  <div class="container d-flex flex-column align-items-center">
                    <a class="btn btn-danger rounded p-5" href="/employee/login">Espace Employé</a>
                  </div>
                    
                    <div>
                        <u class="fw-bold">OU</u>
                    </div>
                    
                  <div class="container d-flex flex-column align-items-center">
                    <a class="btn btn-primary rounded p-5" href="/candidate/login">Espace Candidat</a>
                  </div>
                    
                </div>
                  
              </div>
                
              <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              </div>
                
            </div>
          </div>
        </div>
    
        {% if error %} <!-- If an error is sent to the page, display the error -->
            <script>alert('{{ error }}');</script> <!-- Javascript script to alert the user in case of an error -->
        {% endif %}
    
    </main>
    
{% endblock %}