<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <main>
        
        <h1>Votre Profil a été bien créé</h1>
        
        <p style="font-size: large">
            Voici votre mot de passe temporaire, <a href="http://localhost:8000/employee/login">connectez-vous</a> à l'aide de votre email professionel
        et de ce mot de passe
        </p>
        
        <h3><strong>Votre mot de passe : </strong>{{ token }}</h3>
        
    </main>

</body>