<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <main>
        
        <h1>L'offre d'emploi {{ publication_name }} n'est plus disponible</h1>
        
        <p>L'offre pour laquelle vous avez postulé a été retirée par notre équipe.</p>
        
        <h3><strong>Malheureusement, votre candidature a automatiquement été annulée suite à cette opération.</strong></h3>
        
        <p>Vos données ont été supprimées.</p>
        
    </main>

</body>