<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <main>
        
        <h1>Votre candidature sur {{ job_offer }} a été supprimée</h1>
        
        <p>Nous avons bien pris en compte votre demande.</p>
        
        <h3><strong>Nous vous confirmons que votre candidature a été retirée et que vos données ont été supprimées.</strong></h3>
        
        <p>S'il s'agit d'une erreur, nous vous invitons à <a href="http://localhost:8000">créer à nouveau une candidature.</a></p>
        
    </main>

</body>