<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <main>
        
        <h1>Vous avez demandé une réinitialisation de votre mot de passe pour votre candidature sur {{ job_offer }}</h1>
        
        <h3><strong>Cliquez le lien pour réinitialiser votre mot de passe</strong></h3>
        
        <a href="http://localhost:8000/candidate/reset_password?application_number={{ application_number }}&token={{ password_reset_token }}" style="padding: 10px; background-color: blue;color: white;border-radius: 5%;">Réinitialiser le mot de passe</a>
        
        <p>Si vous n'êtes pas à l'origine de cette action, ne cliquez en aucun cas sur ce lien et supprimez ce mail.</p>
    
    </main>

</body>