{% extends "base.html" %} <!-- Call of the HTML Head-->
{% block content %} <!-- Application Form -->
    
<main class="container my-2 pb-4 d-flex flex-column align-items-center">
    <h1 class="fw-bold rounded my-5 text-center dark-txt">Votre Candidature</h1>

    <div class="container p-md-4 border rounded" style="border-color: #285a89 !important;">
        <form action="/application?postID={{ postID }}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
        
            <!-- Section nom/prénom/email/téléphone -->
            <div class="container-fluid px-0">
                <div class="row g-3">
                    <!-- Première colonne -->
                    <div class="col-12 col-md-6">
                        <div class="form-group mb-3">
                            <label class="fw-bold dark-txt" for="name">Nom</label>
                            {{ form.name }}
                            {% if form.name.errors %}
                                {{ form.name.errors }}
                            {% endif %}
                        </div>
                        
                        <div class="form-group mb-3">
                            <label class="fw-bold dark-txt" for="firstname">Prénom</label>
                            {{ form.firstname }}
                            {% if form.firstname.errors %}
                                {{ form.firstname.errors }}
                            {% endif %}
                        </div>
                    </div>

                    <!-- Deuxième colonne -->
                    <div class="col-12 col-md-6">
                        <div class="form-group mb-3">
                            <label class="fw-bold dark-txt" for="email">Email</label>
                            {{ form.email }}
                            {% if form.email.errors %}
                                {{ form.email.errors }}
                            {% endif %}
                        </div>
                        
                        <div class="form-group mb-3">
                            <label class="fw-bold dark-txt" for="phone">Téléphone</label>
                            {{ form.phone }}
                            {% if form.phone.errors %}
                                {{ form.phone.errors }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- Section mots de passe -->
            <div class="row g-3 mt-2">
                <div class="col-12">
                    <div class="form-group mb-3">
                        <label class="fw-bold dark-txt" for="password">Mot de passe</label>
                        {{ form.password }}
                        {% if form.password.errors %}
                            {{ form.password.errors }}
                        {% endif %}
                    </div>
                    
                    <div class="form-group mb-3">
                        <label class="fw-bold dark-txt" for="confirm">Confirmer le mot de passe</label>
                        {{ form.confirm }}
                        <p id="password_matcherror" style="color: red; display: none">Les mots de passe ne correspondent pas !</p>
                        <p id="password_conditionerror" style="color: red; display: none">Le mot de passe doit contenir au moins 8 caractères dont au moins une minuscule, majuscule, un chiffre et un caractère spécial</p>
                    </div>
                </div>
            </div>
        
            <div class="row g-3 mt-2">
                <div class="col-12">
                    <div class="p-3 border rounded">
                        <div class="row g-3">
                            <div class="col-12 col-md-6 d-flex justify-content-center">
                                <div class="form-group d-flex flex-column ms-3">
                                    <label class="fw-bold mb-2 dark-txt" for="cv">Importez votre CV</label>
                                    {{ form.cv }}
                                    {% if form.cv.errors %}
                                        {{ form.cv.errors }}
                                    {% endif %}
                                </div>
                            </div>
                            
                            <div class="col-12 col-md-6 d-flex justify-content-center">
                                <div class="form-group d-flex flex-column ms-3">
                                    <label class="fw-bold mb-2 dark-txt" for="cover-letter">Importez votre lettre de motivation</label>
                                    {{ form.cover_letter }}
                                    {% if form.cover_letter.errors %}
                                        {{ form.cover_letter.errors }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- Boutons -->
            <div class="row mt-4">
                <div class="col-12 d-flex flex-column flex-md-row justify-content-center gap-3">
                    <button class="btn btn-lg secondary-btn" type="submit" id="submit_btn" name="submit-application">Soumettre</button>
                </div>
                <div class="col-12 d-flex flex-column flex-md-row justify-content-center gap-3">
                    <a class="btn rounded" href="/">Annuler</a>
                </div>
            </div>
            
            {% if form.non_field_errors %}
                <div class="alert alert-danger mt-3" role="alert">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
        </form>
    </div>
</main>
    
<script>

    function validatePasswords() { // Javascript function to check if the password and confirm fields are the same
        
        confirm = document.getElementById("confirm").value; // get value of the confirm field
        password = document.getElementById("password").value; // get value of the password field
        submitBtn = document.getElementById("submit_btn"); // get the submit button element
        error = document.getElementById("password_matcherror"); // get the displayed error element

        if (confirm !== '' && confirm !== password) { //If confirm's field value isn't empty and isn't the same as password's field value ...
            submitBtn.disabled = true; // Disable the submit button
            error.style.display = 'block'; // Display the error element
        } else {
            submitBtn.disabled = false; // Enable the Submit Button
            error.style.display = 'none'; // Make the error element disapear
        }
        
    }

    document.getElementById("confirm").addEventListener('change', validatePasswords); // Listner, activates if the fields's value changes
    document.getElementById("password").addEventListener('change', validatePasswords); // Listner, activates if the fields's value changes
    
    document.getElementById("password").addEventListener('change', function (e){ // Listner, activates if the fields's value changes
        const regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{8,}$/; // Regex for password condition
        
        if(regex.test(document.getElementById("password").value)){ // If the password's field value meets the conditions ..
            document.getElementById("password_conditionerror").style.display = 'none'; // Makes the error element disapear
            document.getElementById("submit_btn").diabled = false; // Enable the submit button
        }
        else{
            document.getElementById("password_conditionerror").style.display = 'block'; // Display the error element
            document.getElementById("submit_btn").disabled = true; // Disable the submit button
            document.getElementById("password_matcherror").style.display = 'none'; //Makes the other error element disapear
        }
        
    });
    
</script>    
    
{% endblock %}