<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    
    <main>
          
            <h1>Votre entretien est confirmé !</h1>
            
            <h3 class="fw-bold">Votre entretien {{ interview.interview_category }} du {{ interview.date }} est confirmé.</h3>
            
            <p>Vous êtes tenu d'assister à l'entretien, dans le cas contraire, votre candidature sera systématiquement refusée.
                En cas de force majeure, veuillez-contacter un responsable via la messagerie sur GSB Recrutement.</p>
        
    </main>

</body>