<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <main>
        
        <h1>Votre Mot de Passe a été changé pour votre candidature sur {{ job_offer }}</h1>
        
        <p>Le changement de votre mot de passe a bien été prit en compte</p>
        
        <h3><strong>Si vous n'êtes pas à l'origine de cette opération, veuillez immédiatement contacter un administrateur.</strong></h3>
        
    </main>

</body>