{% extends 'base.html' %} <!-- Call the HTML head -->
{% load static %} <!-- Load the Static resources directory (images) -->
{% block content %} <!-- Main Candidate page : Display the summary of the application, enable the candidate to modify and delete his data -->
    
    <header class="bg-secondary border-bottom border-dark d-flex justify-content-center align-items-center fixed-top py-2" >
            <div ><a href="/"><img src="{% static "images/gsb_logo.png" %}" style="width: 130px" alt="Logo GSB"></a></div>
    </header>
    
    <main class="vh-100 d-flex align-items-center justify-content-center">
    
        <form method="post" enctype="multipart/form-data" class="container bg-light p-4 w-50 border border-info rounded d-flex flex-column align-items-center justify-content-center">
            {% csrf_token %}
        
            <label for="email" class="fs-5 mb-3 fw-bold">Entrez votre numéro de candidature</label>
            
            {{ form.application_number }}
            
            {% if form.application_number.errors %}
                {{ form.application_number.errors }}
            {% endif %}
        
            <button type="submit" class="btn btn-lg btn-success mt-3">Envoyer</button>
        
        </form>
        
    </main>
    
{% endblock %}