{% extends "base.html" %} <!-- Call of the HTML Head-->
{% block content %} <!-- Update Application Form : Pre-Filled form that enable the candidate to modify some of his application's data -->
    
<main class="container my-5"> 
    <h1 class="fw-bold text-center dark-txt rounded p-4 mb-3">Votre Candidature</h1>

    <div class="container bg-light p-4 border dark-border rounded">
        <form action="update" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row mb-4">
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label class="fw-bold dark-txt" for="name">Nom</label>
                        {{ form.candidate_lastname }}
                        {% if form.candidate_lastname.errors %}
                            <div class="text-danger">{{ form.candidate_lastname.errors }}</div>
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label class="fw-bold dark-txt" for="firstname">Prénom</label>
                        {{ form.candidate_firstname }}
                        {% if form.candidate_firstname.errors %}
                            <div class="text-danger">{{ form.candidate_firstname.errors }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label class="fw-bold dark-txt" for="email">Email</label>
                        {{ form.candidate_mail }}
                        {% if form.candidate_mail.errors %}
                            <div class="text-danger">{{ form.candidate_mail.errors }}</div>
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label class="fw-bold dark-txt" for="phone">Téléphone</label>
                        {{ form.candidate_phone }}
                        {% if form.candidate_phone.errors %}
                            <div class="text-danger">{{ form.candidate_phone.errors }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <h5 class="text-center dark-txt">ATTENTION LES DOCUMENTS IMPORTÉS REMPLACERONT LES PRÉCÉDENTS DÉFINITIVEMENT</h5>

            <div class="row border rounded p-4 mb-4">
                <div class="col-md-6 mb-3 d-flex flex-row justify-content-center">
                    <div class="form-group d-flex flex-column ms-3">
                        <label class="fw-bold" for="cv">Importez un nouveau CV</label>
                        {{ form.cv }}
                        {% if form.cv.errors %}
                            <div class="text-danger">{{ form.cv.errors }}</div>
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-6 mb-3 d-flex flex-row justify-content-center">
                    <div class="form-group d-flex flex-column ms-3">
                        <label class="fw-bold" for="cover-letter">Importez une nouvelle Lettre de Motivation</label>
                        {{ form.cover_letter }}
                        {% if form.cover_letter.errors %}
                            <div class="text-danger">{{ form.cover_letter.errors }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column align-items-center mt-5">
                <div class="col-12 d-flex flex-column flex-md-row justify-content-center gap-3">
                    <button class="btn btn-lg secondary-btn" type="submit" id="submit_btn" name="submit-application">Enregistrer</button>
                </div>
                <div class="col-12 d-flex flex-column flex-md-row justify-content-center gap-3">
                    <a class="btn" href="/candidate/hub">Annuler</a>
                </div>
            </div>

            {% if form.non_field_errors %}
                <div class="alert alert-danger mt-3" role="alert">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
        </form>
    </div>
</main>
    
{% endblock %}