{% extends 'base.html' %} <!-- Call the HTML head -->
{% load static %} <!-- Load the Static resources directory (images) -->
{% block content %} <!-- Archives : Display all the archived posts with their applications -->
    
    <header class="dark-bg d-flex justify-content-between align-items-center fixed-top py-2" >
            <div class="ps-3">
                <p class="text-white mb-0">{{ request.user.employee_lastname }} {{ request.user.employee_firstname }}</p>
                <p class="text-white">{% if request.user.role == "admin" %}Administrateur{% elif request.user.role == "manager" %}Manager{% else %}Employé{% endif %}</p>
            </div>
            <div><a href="/employee/hub"><img src="{% static "images/gsb_logo.png" %}" style="width: 130px" alt="Logo GSB"></a></div>
            <div class="me-5"><a href="/employee/logout"><img src="{% static "images/logout.svg" %}" style="width: 50px" alt="Se Deconnecter"></a></div>
    </header>
    
    <main class="container d-flex flex-column align-items-center" style="margin-top: 8%">

        <div class="mb-3 w-50 d-flex flex-row">
            <input type="text" id="search_bar" class="text-center form-control dark-border rounded" placeholder="Rechercher une offre">
        </div>

        {% if not publications %}
            <div class="d-flex align-items-center justify-content-center" style="height: 75vh">
                <h3 class="dark-txt">Aucune publication n'a été archivée</h3>
            </div>
        {% else %}
            <div class="align-items-center justify-content-center" style="display: none;height: 75vh" id="emptySearch">
                <h3 class="dark-txt"> Aucune publication ne correspond à la recherche</h3>
            </div>
            {% for publication in publications %}
                <div class="card mt-3 w-75">
                    <div class="card-header dark-bg text-white text-center"><h3>{{ publication.title }}</h3></div>
                    <div class="card-body">
                    <table class="table border table-hover">
                        <thead>
                            <tr class="table-header align-middle ">
                                <th scope="col" style="width: 15%">N° De Candidature</th>
                                <th scope="col" style="width: 15%">Nom</th>
                                <th scope="col" style="width: 15%">Prénom</th>
                                <th scope="col" style="width: 20%">Email</th>
                                <th scope="col" style="width: 15%">N° De Téléphone</th>
                                <th scope="col" style="width: 20%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for application in publication.applications %}
                                    <tr class="align-middle">
                                        <th scope="row">{{ application.application_number }}</th>
                                        <td>{{ application.candidate_lastname }}</td>
                                        <td>{{ application.candidate_firstname }}</td>
                                        <td>{{ application.candidate_mail }}</td>
                                        <td>{{ application.candidate_phone }}</td>
                                        <td class="text-end">
                                            <a class="btn border dark-border" href="/employee/archived_application_info?candidateID={{ application.application_number }}">
                                                Info &#10132;
                                            </a>
                                        </td>
                                    </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            {% endfor %}
        {% endif %}        
        
    </main>

    <script>

        // This Function compare the value of the search field with the posts titles and make the posts disappear if they don't match
        function search(){

            // Get the values
            search_value = document.getElementById("search_bar").value.toLowerCase(); // Get the value of the search field
            offers = Array.from(document.getElementsByClassName("card")); // Get all the posts
            offers_title = Array.from(document.getElementsByClassName("card-header")); // Get all the posts titles
            emptySearch = true; // Boolean to check if no post matches with the search

            offers.forEach((offer, index) => { // Verify that the post title match with the search value for all the posts

                if(search_value != '' && !offers_title[index].textContent.toLowerCase().includes(search_value)){ // If the search value doesn't match with the title
                    offer.style.display = 'none'; // Make the post disappear
                }

                else{ // The search value match with the title
                    offer.style.display = 'block'; // Makes the post appear
                    emptySearch = false // At least one post match with the search so the search is not empty
                }
                
            })

            if(emptySearch){ // If no post matches the search
                document.getElementById("emptySearch").style.display = 'flex'; // Display a "no results" message
            }
            else{
                document.getElementById("emptySearch").style.display = 'none';
            }
        }

        document.getElementById("search_bar").addEventListener('change',search); // Trigger the search function when the value of the search field changes
        
    </script>
    
{% endblock %}