{% extends 'base.html' %} <!-- Call the HTML head -->
{% load static %} <!-- Load the Static resources directory (images) -->
{% block content %} <!-- Employees Main Page : Page that displays all the current offers and enable the user to access to the applications tables pages -->
    
    <header class="bg-secondary border-bottom border-dark d-flex justify-content-between align-items-center fixed-top py-2" >
            <div></div>
            <div class="ms-5 ps-3"><a href="{%if request.user.role == 'admin'%}/employee/admin_hub{% endif %}"><img src="{% static "images/gsb_logo.png" %}" style="width: 130px" alt="Logo GSB"></a></div>
            <div class="me-5"><a href="/employee/logout"><img src="{% static "images/logout.svg" %}" style="width: 50px" alt="Se Deconnecter"></a></div>
    </header>
    
    <main class="container bg-light d-flex flex-column align-items-center" style="padding-top: 9%;min-height: 100vh">

        <input type="text" id="search_bar" class="text-center mb-3 w-50 form-control bg-white border-info rounded" placeholder="Rechercher une offre">
    
        {% if not posts %} <!-- If there are no posts in the database -->
            
            <div class="container mt-5 p-5 bg-info rounded">
                <h3 class="text-center text-white"> Aucune offre n'a été publiée</h3>
            </div>
            
        {% else %} <!-- If there are posts to display -->
            
            {% for post in posts %} <!-- Display all the posts -->
                
                <div class="card bg-light my-3" id="offer" style="width: 50vw">
                
                    <div class="card-header text-center bg-secondary text-white fs-3 fw-bold text-white">
                        {{ post.title }}
                    </div>
                    
                    <div class="card-body text-center mx-3 py-4">
                        {{ post.description }}
                    </div>
                    
                    <div class="card-footer text-center">
                        <a class="btn btn-success rounded w-100" href="/employee/offer_applications?postID={{ post.id }}">Voir les Candidatures</a>
                    </div>
                
                </div>
                
            {% endfor %}
            
        {% endif %}
    
    </main>

    <script>
    
        // This Function compare the value of the search field with the posts titles and make the posts disappear if they don't match
        function search(){
            
            // Get the values
            search_value = document.getElementById("search_bar").value.toLowerCase(); // Get the value of the search field
            offers = Array.from(document.getElementsByClassName("card")); // Get all the posts
            offers_title = Array.from(document.getElementsByClassName("card-header")); // Get all the posts titles
            
            offers.forEach((offer, index) => { // Verify that the post title match with the search value for all the posts
                
                if(search_value != '' && !offers_title[index].textContent.toLowerCase().includes(search_value)){ // If the search value doesn't match with the title
                    offer.style.display = 'none'; // Make the post disappear
                }
                
                else{ // The search value match with the title
                    offer.style.display = 'block'; // Makes the post appear
                }
                
            })
            
        }
    
        document.getElementById("search_bar").addEventListener('change',search); // Trigger the search function when the value of the search field changes
        
    </script>
    
{% endblock %}