{% extends 'base.html' %} <!-- Call the HTML head -->
{% load static %} <!-- Load the Static resources directory (images) -->
{% block content %} <!-- Menu to let the user chose which module he wants to access -->
    
    <header class="dark-bg border-bottom border-dark d-flex justify-content-between align-items-center fixed-top py-2" >
            <div class="ps-3">
                <p class="text-white mb-0">{{ request.user.employee_lastname }} {{ request.user.employee_firstname }}</p>
                <p class="text-white">{% if request.user.role == "admin" %}Administrateur{% elif request.user.role == "manager" %}Manager{% else %}Employé{% endif %}</p>
            </div>
            <div ><a href="/employee/hub"><img src="{% static "images/gsb_logo.png" %}" style="width: 130px" alt="Logo GSB"></a></div>
            <div class="me-5"><a href="/employee/logout"><img src="{% static "images/logout.svg" %}" style="width: 50px" alt="Se Deconnecter"></a></div>
    </header>
    
    <main class="container vw-100 d-flex flex-column align-items-center" style="padding-top: 6%;height: 100vh">
        <h1 class="dark-txt fs-1">Menu</h1>
        <a class="w-50 h-25 btn text-start {% if request.user.role == "manager" %}mt-5{% endif %} dark-bg pt-5 mb-3 ps-5 fw-bold fs-5 text-white text-decoration-none" href="application_management">Candidatures</a>
        <a class="w-50 h-25 pt-5 mb-3 btn text-start dark-bg ps-5 fw-bold fs-5 text-white text-decoration-none" href="validated_applications">Candidatures Validées</a>
        <a class="w-50 h-25 pt-5 mb-3 btn text-start dark-bg ps-5 fw-bold fs-5 text-white text-decoration-none" href="archived_applications">Candidatures Archivées</a>
        {% if request.user.role == "admin" %}
            <a class="w-50 h-25 pt-5 mb-3 btn text-start dark-bg ps-5 fw-bold fs-5 text-white text-decoration-none" href="admin_user_management" >Utilisateurs</a>
            <a class="w-50 h-25 pt-5 mb-3 btn text-start dark-bg ps-5 fw-bold fs-5 text-white text-decoration-none" href="admin_publication_management">Publications</a>
        {% endif %}
    </main>
    
{% endblock %}