{% extends "base.html" %} <!-- Call of the HTML Head -->
{% block content %} <!-- Form to change password -->
    
    <main class="vh-100 container bg-light d-flex flex-column align-items-center justify-content-center">
    
        <form action="/employee/change_password" method="post" class="container border border-info rounded d-flex flex-column align-items-center justify-content-center p-4">
        {% csrf_token %}
        
            <h1 class="fw-bold bg-info text-white rounded my-5 p-4">Changer votre mot de passe</h1>
        
            <div class="w-50">
            
                <label for="password">Nouveau mot de passe</label>
                {{ form.password }}
                
                {% if form.password.errors %} <!-- If error occur with the field, display the errors -->
                    {{ form.password.errors }}
                {% endif %}
            
            </div>
            
            <div class="w-50 mt-3">
            
                <label for="confirm_password">Confirmez le nouveau mot de passe</label>
                {{ form.confirm_password }}
                
                {% if form.confirm_password.errors %} <!-- If error occur with the field, display the errors -->
                    {{ form.confirm_password.errors }}
                {% endif %}
            
                <p id="password_matcherror" style="color: red; display: none">Les mots de passe ne correspondent pas !</p>
                <p id="password_conditionerror" style="color: red;display: none">Le mot de passe doit contenir au moins 8 caractères dont au moins une minuscles, majuscules, un chiffres et un caractère spécial</p>            </div>
            
            <button type="submit" id="submit_btn" class="btn btn-lg btn-success text-center mt-3">Valider</button>
        
        </form>
    
    </main>
    
    <script>

    function validatePasswords() { // Javascript function to check if the password and confirm fields are the same
        
        confirm = document.getElementById("confirm").value; // get value of the confirm field
        password = document.getElementById("password").value; // get value of the password field
        submitBtn = document.getElementById("submit_btn"); // get the submit button element
        error = document.getElementById("password_matcherror"); // get the displayed error element

        if (confirm !== '' && confirm !== password) { //If confirm's field value isn't empty and isn't the same as password's field value ...
            submitBtn.disabled = true; // Disable the submit button
            error.style.display = 'block'; // Display the error element
        } else {
            submitBtn.disabled = false; // Enable the Submit Button
            error.style.display = 'none'; // Make the error element disappear
        }
        
    }

    document.getElementById("confirm").addEventListener('change', validatePasswords); // Listener, activates if the fields's value changes
    document.getElementById("password").addEventListener('change', validatePasswords); // Listener, activates if the fields's value changes
    
    document.getElementById("password").addEventListener('change', function (e){ // Listener, activates if the fields's value changes
        const regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{8,}$/; // Regex for password condition
        
        if(regex.test(document.getElementById("password").value)){ // If the password's field value meets the conditions ..
            document.getElementById("password_conditionerror").style.display = 'none'; // Makes the error element disapear
            document.getElementById("submit_btn").diabled = false; // Enable the submit button
        }
        else{
            document.getElementById("password_conditionerror").style.display = 'block'; // Display the error element
            document.getElementById("submit_btn").disabled = true; // Disable the submit button
            document.getElementById("password_matcherror").style.display = 'none'; //Makes the other error element disapear
        }
        
    });
    
</script>    
    
{% endblock %}