{% extends 'base.html' %} <!-- Call the HTML head -->
{% load static %} <!-- Load the Static resources directory (images) -->
{% block content %} <!-- Employee Login page : Login Form, mandatory to access any private_page -->
    
    <main class="dark-bg">
    
        <div class="container d-flex justify-content-center align-items-center vh-100">
        
            <div class="card shadow-sm p-4" style="width: 100%; max-width: 400px;">
            
                <h3 class="text-center mb-4">Espace Employé</h3>
            
                <div class="text-center mt-1 mb-3">
                    <a href="/"><img src="{% static "images/gsb_logo.png" %}" style="width: 150px" alt="Logo GSB"></a>
                </div>
    
                <form method="post" novalidate>
                    {% csrf_token %}
                
                    <!-- Identifier -->
                    <div class="mb-3">
                        <label for="application_number" class="form-label">Identifiant</label>
                        {{ form.employee_id }}
                    </div>
                
                    <!-- Password -->
                    <div class="mb-3">
                        <label for="password" class="form-label">Mot de passe</label>
                        {{ form.password }}
                    </div>
                
                    <!-- Connexion Button -->
                    <div class="d-grid">
                        <button type="submit" class="btn secondary-btn">Se connecter</button>
                    </div>
                
                    <!-- Error Message -->
                    {% if form.errors %}
                        <div class="alert alert-danger mt-3">
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                        </div>
                    {% endif %}
                
                </form>
            
            </div>
        
        </div>

    </main>

{% endblock %}