{% extends "base.html" %} <!-- Call of the HTML Head-->
{% block content %} <!-- For to update an Employee -->

<style>

    .errorlist li { /* Set the color for all the form error messages  */
        color:red;
    }

</style>
    
<main class="vh-100 container pb-4 d-flex flex-column align-items-center">

    <h1 class="fw-bold dark-txt my-5">Modifier un employé</h1>

    <div class="container p-4 border dark-border rounded">
    
        <form action="/employee/update?userID={{ userID }}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
        
            <div class="container-fluid d-flex">
                
                <div class="container-fluid d-flex flex-column w-50 p-3">
                
                    <div class="form-group h-50">
                        <label class="fw-bold" for="lastname">Nom</label>
                        {{ form.employee_lastname }}

                        {% if form.employee_lastname.errors %} <!-- If error occur with the field, display the erros -->
                             {{ form.employee_lastname.errors }}
                        {% endif %}
                    </div>
                
                </div>
    
                <div class="d-flex flex-column w-50 p-3">
                
                    <div class="form-group ">
                        <label class="fw-bold" for="firstname">Prénom</label>
                        {{ form.employee_firstname }}

                        {% if form.employee_firstname.errors %} <!-- If error occur with the field, display the erros -->
                            {{ form.employee_firstname.errors }}
                        {% endif %}
                    </div>
                
                </div>
                
            </div>
        
            <div class="container">
                
                <div class="form-group my-2 px-3">
                    <label class="fw-bold" for="email">Email</label>
                    {{ form.employee_email }}

                    {% if form.employee_email.errors %} <!-- If error occur with the field, display the erros -->
                            {{ form.employee_email.errors }}
                    {% endif %}
                </div>
            
                {% if userID != request.user.id %} <!-- If the user is modifying himself, don't display the role field -->
                    <div class="form-group my-2 px-3">
                        <label class="fw-bold" for="role">Role</label>
                        {{ form.role }}
    
                        {% if form.role.errors %} <!-- If error occur with the field, display the erros -->
                                {{ form.role.errors }}
                        {% endif %}
                    </div>
                {% endif %}
                
            </div>
        
            <div class="d-flex flex-column align-items-center mt-4">
                <button class="btn btn-lg secondary-btn" type="submit" id="submit_btn" name="submit-application">Enregistrer</button>
                <a class="btn rounded fs-6" href="/employee/admin_user_management">Annuler</a>
            </div>
            
            {% if form.non_field_errors %} <!-- If error occur with the form, display the errors -->
                <div class="alert alert-danger mt-3" role="alert">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
        
        </form>

    </div>

</main>
    
{% endblock %}